Full stack web framework
	Language?
	LAMP

DataBases to store data
sign in link
menu to file

Tenant view 
	-read only, book viewing, 
	- they are able to register details online and what there preferences are , for example if they aren't able to find something
	on the website an then something becomes available the next day to there preferences they will be emailed that there is a rental
	matching there needs. 
	
Owner view
	-set price
	-shows all properties owned
	-update only there property details such as weekly rents and photos , but its only restricted to there own property.
	
staff view
	-properties allocated to them
	-unable to edit property details
David view
	can edit property details
	user friendly as David does not have much experience with computers. 
