Full stack web framework
	Language?
	LAMP
	
sign in link
menu to filter
	
Tenant view 
	-read only, book viewing
	
Owner view
	-set price
	-shows all properties owned
	-update only there property details such as weekly rents and photos , but its only restricted to there own property.
	
staff view
	-properties allocated to them
	-unable to edit property details
David view
	can edit property details
