/*
    index.php
*/

body.home {
	
	background: url("images/background.jpg") no-repeat;
	background-size:cover;
	
}

.LoginFormContain {
        text-align: center;
}

#register {
	
}

#signIn {
	
}

/*
    home.php
*/

/*
    properties.php
*/

body.property input[name=suburb]  {
	font-size:auto;
}

/*
    Users.php
*/
/*
    Users.php
*/
.leftSidebar {
    float: left;
    margin-left: 10px;
}

.leftSidebar th {
    border-bottom: 1px solid black;
}

.leftSidebar td {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.leftSidebar input {
    width: 125px;
    background-color: lightcyan;
}

.usersTable {
    text-align: center;
    margin: auto;
}

.usersTable td, th {
    border: 1px solid black;
    width: 150px;
}


/*
    functions.php
*/

.MainHeaderTable table {
    width: 100%;
    table-layout: fixed;
}

.MainHeaderTable th {
    border: 1px solid black;
}

.NumSearchResults {
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}

.SmallPropertyListing {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
}

.SolidBorder {
    border: 1px solid black;
}