
h1 {
	text-align:center;
}

h2 {
	padding-left:400px;
}

#leftMenu {
	width:15%;
	height:600px;
	float:left;
	border:1px black solid;
	padding-left:10px;
}

#pageResults {
	
}

#propertyPic {
	width:600px;
	height:400px;	
	border:1px black solid;
	float:left;
}

.littlePropertyPics {
	float:left;
	margin-left:30px;
	margin-bottom:20px;
	width:100px;
	height:400px;
	border:1px black solid;
}

#propertyDetails {
	clear:both;
}

.property {
	float:left;
	height:100px;
	width: 50%;
	border:1px black solid;
	margin:10px 30px;
}